---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Team info and background"
	pubDate={new Date('June 02 2025')}
	heroImage="/evcannonballers.png"
>
	<h2>Who We Are</h2>
	<p>
		
	</p>

	<h2>Our Mission</h2>
	<p>
		Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
		tellus. Habitasse platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non
		blandit massa. Cursus vitae congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna
		porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis
		massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius morbi enim nunc.
		Bibendum neque egestas congue quisque egestas diam. Cras ornare arcu dui vivamus arcu felis
		bibendum. Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et pharetra pharetra
		massa massa ultricies mi.
	</p>

	<h2>Our Tenets</h2>
	<p>
		<ul>
			<li>Tenet 1</li>
			<li>Tenet 2</li>
			<li>Tenet 3</li>
			<li>Tenet 4</li>
			<li>Tenet 5</li>
		</ul>
	</p>
</Layout>
