---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Team info and background"
	pubDate={new Date('June 02 2025')}
	heroImage="/evcannonballers.png"
>
	<h2>Who We Are</h2>
	<p>
		The East Valley Cannon Ballers are a developement-focused and family first baseball team that aim to
		bring competition and hard work into an enviroment that encourages friendships and sportsmanship. Our
		families come from Chandler, Gilbert, Mesa, Queen Creek, and more fans across the nation. We are led 
		by Rich Simon and Matt Chaffee, two experienced coaches with college and big league tenures.
	</p>
	<p>
		Check us out at our East Valley Baseball games this fall at Espee and Pima Parks in Chandler!
	</p>
</Layout>
