---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				<img src="/evcannonballers.png" />
			</p>
			<h1>Welcome!</h1>
			<p>
				Thanks for checking us out! We are glad you're here, and hope that you like what we are doing. 
				Please stay tuned for site updates, blog posts, and other exciting content.
			</p>
			<h2>Our Mission</h2>
			<p>
				Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
				tellus. Habitasse platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non
				blandit massa. Cursus vitae congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna
				porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis
				massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius morbi enim nunc.
				Bibendum neque egestas congue quisque egestas diam. Cras ornare arcu dui vivamus arcu felis
				bibendum. Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et pharetra pharetra
				massa massa ultricies mi.
			</p>
		
			<h2>Our Tenets</h2>
			<p>
				<ul>
					<li>Tenet 1</li>
					<li>Tenet 2</li>
					<li>Tenet 3</li>
					<li>Tenet 4</li>
					<li>Tenet 5</li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
