---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				<img src="/evcannonballers.png" />
			</p>
			<h1>Welcome!</h1>
			<p>
				Thanks for checking us out! We are glad you're here, and hope that you like what we are doing. 
				Please stay tuned for site updates, blog posts, and other exciting content.
			</p>
			<h2>Our Mission</h2>
			<p>
				The mission of the East Valley Cannon Ballers is to provide every player on the team with the tools
				they need to grow in baseball and in life, through hard work and dedication to the sport and each other,
				focusing on sportsmanship and winning the right way.
			</p>
		
			<h2>Our Tenets</h2>
			<p>
				<ul>
					<li>Stay Focused, Play Fast, Attack</li>
					<li>Be the teammate you want to have on your team</li>
					<li>Don't sacrifice long term goals for quick wins</li>
					<li>Be better today than you were yesterday</li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
